*
{
    padding: none;
    margin: none;
}

.btn-reset,.button button
{
    display: block;
    width: 100%;
    margin-top: .5rem;
    padding: 10px;
    text-transform: uppercase;
    background: none;
    background-color: orange;
    border: 1px solid orange;
    font-weight: bold;

}

.form-t
{
    text-transform: uppercase;
    margin-bottom: .5rem;
}


.inputs
{
    display: flex;
    flex-direction: column;
    gap: .9rem;
}
.inputs input
{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    
}
.display-errors
{
    color: red;
    font-style: italic;
    font-size: small;
    text-align: center;

}
.display-errors::after
{
    content: '!!';
}





.reset-passwrod-container form
{
    border-radius: .5rem;
    display: none;
    margin-top: 100px;
}

.cancel
{
    text-align: right;
    font-size: large;
    font-weight: bold;
    font-size: large;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}
